

/*********** Schriften **************/

@font-face {
	font-family: "NotoSans";
	src: url('../../../../../plugins/themes/custom/fonts/NotoSans-normal-normal.eot');
	src: url('../../../../../plugins/themes/custom/fonts/NotoSans-normal-normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "NotoSerif";
	src: url('../../../../../plugins/themes/custom/fonts/NotoSerif-normal-normal.eot');
	src: url('../../../../../plugins/themes/custom/fonts/NotoSerif-normal-normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans";
	src: url('../../../../../plugins/themes/custom/fonts/FiraSans-normal-normal.eot');
	src: url('../../../../../plugins/themes/custom/fonts/FiraSans-normal-normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SourceSansPro";
	src: url('../../../../../plugins/themes/custom/fonts/SourceSansPro-normal-normal.eot');
	src: url('../../../../../plugins/themes/custom/fonts/SourceSansPro-normal-normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Merriweather";
	src: url('../../../../../plugins/themes/custom/fonts/Merriweather-normal-normal.eot');
	src: url('../../../../../plugins/themes/custom/fonts/Merriweather-normal-normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MerriweatherSans";
	src: url('../../../../../plugins/themes/custom/fonts/MerriweatherSans-normal.eot');
	src: url('../../../../../plugins/themes/custom/fonts/MerriweatherSans-normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*********** Farben allgemein **************/

h1 {
	color: @colourHeadings;
}

.cmp_breadcrumbs h1 {
	color:@text-light;
}

h2 {
	color: @colourHeadings;
}

h3 {
	color: @colourHeadings;
}

/*********** journal description **************/

.journal_description {
		margin-left: -@base;
		margin-right: -@base;
		padding-bottom: 20px !important;
		
		@media (min-width: @screen-phone) {
			margin-left: -@double;
			margin-right: -@double;
		}

		@media (min-width: @screen-desktop) {
			margin-left: -@triple;
			margin-right: -@triple;
		}
	
		padding: @triple @base 0 @base;
		border-top: @bg-border;
		border-bottom: @bg-border;				

		@media (min-width: @screen-phone) {
			padding-left: @double;
			padding-right: @double;
		}

		@media (min-width: @screen-desktop) {
			padding-left: @triple;
			padding-right: @triple;
		}

		> p:first-child {
			margin-top: 0;
		}

		> p:last-child {
			margin-bottom: 0;
		}

}

@media(min-width: @screen-tablet) {
	.journal_description {
		border-top: none;
	}
}
	
.journal_description_above {
	display: none;
}
.journal_description_below {
	display: none;
}

.journal_description_above when (@positionJournalDescription =0) {
	display: block;
}
.journal_description_below when (@positionJournalDescription =1) {
	display: block;
}	

// Border weg, stört sich mit journal description
& when not (@positionJournalDescription =2) {

	.journal_description {
		border-top:transparent !important;
	}
}

	.cmp_announcements {
		border-top:transparent !important;
	}
	
/*********** left sidebar **************/

& when (@positionSidebar =1) {
@media(min-width: 992px) {
  .pkp_structure_sidebar {
    float: left;
  }
  .pkp_structure_main {
    float: right;
  }

  .pkp_structure_main:before {
    left: 300px; /*300px*/
  }
  
  .pkp_structure_main:after {
    left: 952px; /*952px*/
  }
  
}
@media(min-width: 1200px) {
  .pkp_structure_main:after {
    left: 1160px;
  }
}
}
/* ende left sidebar */


/*********** footer **************/

.pkp_brand_footer img {
	width: 100px;
}

.pkp_structure_footer_wrapper {
	background-color: @colour-footer;
}

// footer text white for dark background
& when (@footer-dark =1) {
	.pkp_footer_content {
		color: #fff;
	}
}

/*********** custom header **************/

#custom_heading h1 a {
	color: @colourHeading;
	text-decoration:none;
	line-height:30px;
	font-size:24px;
	font-family: @fontHeadlines;
}

// custom title oder logo auf smartphones ausschalten

// keep custom heading
& when (@headerMobile =1) {
	.pkp_site_name a.is_img {
		display:none;
	}
}
// keep logo
& when (@headerMobile =0) {
	#custom_heading {
		display:none;
	}
}
@media only screen and (min-width: @screen-phone) {
	#custom_heading {
		display:block;
	}
}	
@media only screen and (min-width: @screen-phone) {
	.pkp_site_name a.is_img {
		display:block;
	}
}	

/*********** Sonstiges **************/

// bug fix: die Buttons haben keine Abstand
.galleys_links li {
	padding-bottom: 5px;
}

// bug fix: issue galleys haben bullet points
.galleys_links {
	list-style-type: none;
	padding-left: 0px;
}	

// Abstände der Artikel zwischen Sections kleiner, mobile: da würde es sich übereinander schieben

@media only screen and (min-width: 768px) {
	.section {
		 margin-top:-80px !important;	 
	}
}
.custom_issue_title {
	margin-top:0px !important;
	margin-bottom: 10px !important;
}


// bug fix?
@media only screen and (min-width: 768px) and (max-width: 991px)  {
	.pkp_structure_main {
		padding-top:0;
	}
}




/*********** Hero Bild und Claim **************/

.custom_hero_header_wrapper {
	display:none;
}

#navigationUserWrapperHero {
	display:none;
}

@media only screen and (min-width: 480px)   {

	& when (@heroHeader =1) {	
	
		#custom_hero a {
			color: @colourHeading;
		}

		#custom_hero {
			font-family: @fontHeadlines;
		}

		#custom_hero a:hover {
			color: @colourHeading;
		}	
	
		.pkp_structure_main{
			padding-top:0;
		}	
	
		.pkp_head_wrapper {
			padding-top:10px !important;
		}	
		.default_site_name_wrapper {
			display:none;
		}
		.custom_heading_wrapper {
			display:none;
		}
		#navigationUserWrapperHero {
			display:block;
		}
		
		#navigationUserWrapper {
			display:none;
		}		
		.custom_hero_header_wrapper {
			display:block;
		}	
		.pkp_structure_content {
		
		}		
	}
	
	.custom_hero_wrapper {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;	
		height: @heroHeight;	
		position:relative;
	}
	
	#custom_hero {
		position: absolute;
		top:  31%;
		left: 32%;
		transform: translate(-24%, -22%);
	}
	
	#custom_hero a {
		font-size: 36px;
		line-height: 54px;
		text-decoration:none;
	}
}
		
// kleine Bildschirme: Schriftgröße verkleinern, andere Mitte
		
@media only screen and (max-width: 991px)   {
	
	#custom_hero {
	//	position: absolute;
	//	top: 27%;
	//	left: 30%;
	//	transform: translate(-20%, -20%);	
	}
	
	#custom_hero a {
		font-size: 32px;
		line-height: 44px;
	}	
}		



